<!-- Content div : Informations, ect... -->
<link rel="stylesheet" type="text/css" href="style/index-panel-style">
<div id="content_div">

  <!-- This div is just under the #top_div -->
  <div id="content_div_top_div">

  </div>

  <!-- This div contain the blocks on top of this space -->
  <div id="content_div_header_div">
    <div class="content_div_header_div_subdiv">
      <!-- Informations and help about the panel -->
      <p>
        Lorem ipsum dolor sit amet !<br>
        Test !<br>
      </p>
    </div>

    <div class="content_div_header_div_subdiv">
      <!-- ? -->
    </div>
  </div>

  <!-- This div is used to contain news -->
  <div id="content_div_news_div">

    <!-- A news div -->
    <div class="content_div_news_subdiv">
      <div class="news_subdiv_header">
        <h2>Hello WORLD !</h2>
        <p>Le 03/02/2022 à 21H11</p>
      </div>

      <div class="news_subdiv_text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit, mi id rutrum fringilla, eros dolor consequat orci, pharetra congue arcu leo et turpis. Suspendisse ut ultricies mauris, ut aliquet sapien. Morbi auctor venenatis posuere. Donec dignissim sem sem, id rhoncus quam porta a. Nullam pellentesque commodo sem, eget cursus massa ultricies et. Donec dapibus orci nec vehicula rutrum. Ut dictum nibh ultricies neque pulvinar bibendum.
        </p>
      </div>
    </div>

  </div>

</div>
