<!-- Content div : Informations, ect... -->
<link rel="stylesheet" type="text/css" href="style/index-panel-style">
<div id="content_div">

  <!-- This div is just under the #top_div -->
  <div id="content_div_top_div">

  </div>

  <!-- This div contain the blocks on top of this space -->
  <div id="content_div_header_div">
    <div class="content_div_header_div_subdiv">
      <!-- Informations and help about the panel -->
      <p>
        Lorem ipsum dolor sit amet !<br>
        Test !<br>
      </p>
    </div>

    <div class="content_div_header_div_subdiv">
      <!-- ? -->
    </div>
  </div>

  <!-- This div is used to contain news -->
  <div id="content_div_news_div">

    <!-- A news div -->
    <div class="content_div_news_subdiv">
      <div class="news_subdiv_header">
        <h2>Hello WORLD !</h2>
        <p>Le 03/02/2022 à 21H11</p>
      </div>

      <div class="news_subdiv_text">
        <p>
          Bienvenue sur Disblock ! Vous pouvez ajouter le bot avec ce  <a href="https://discord.com/api/oauth2/authorize?client_id=903324635108634654&permissions=8&scope=bot">lien</a> et un serveur Discord est disponible avec ce <a href="https://discord.gg/jCF9GRRNKV">lien</a>  ( Il est en cours de construction ! ). Disblock est toujours en cours de développement, et est actuellement en Alpha, aucun lien ne fonctionne et des bugs sont présents, c'est normal ! Pensez juste à rapporter les bugs pour que je les corrige
        </p>
      </div>
    </div>

  </div>

</div>
