<div id="index_menu_div">
  <div id="index_menu_logo_div">
    <a href="/"><img src="/img/logo.png"></a>
  </div>
  <div id="index_menu_phone_div">
    <i class="gg-menu" id="index_menu_phone"></i>
  </div>
  <div id="index_menu_react_placeholder">

  </div>
  <div id="index_menu_login_discord">
      <%
        if(avatar!='' && avatar!=null){ //Only shown if avatar is set on Discord %>
           <div id="index_menu_user_avatar_div"><img id="index_menu_user_avatar" style="height: 100%;" align="right" class="circle" src="https://cdn.discordapp.com/avatars/<%- id %>/<%- avatar %>?size=64"></div> <%
        }
        %>
        <p><%- username %></p><a href="/logout"><p style="margin-top: -10px;"><i class="gg-log-off" align="right"></i><span style="position:relative; right: -5px;">Logout</span></p></a>
  </div>
</div>

<script type="text/babel">
  if($(window).width()<950){
    $("#index_menu_react_placeholder").slideUp(0);//Hide the menu on small screens
  }


  class MenuTab extends React.Component {
    render() {
      return (
        <div className="index_menu_tab">
          <a href={this.props.link}><p>{this.props.name}</p></a>
        </div>
      );
    }
  }

  //Msg imported in index.ejs, this file is just included
  ReactDOM.render(
  <div id="index_menu_tab_div">
    <MenuTab name={Msg["index_menu_home"]} link="#" />
    <MenuTab name="Features" link="#" />
    <MenuTab name="Documentation" link="#" />
    <MenuTab name="Invite to your server" link="http://google.com" />
  </div>
  ,document.getElementById('index_menu_react_placeholder')
);


//Display or remove the menu on click for mobile users
$("#index_menu_phone_div").click(()=>{
  $("#index_menu_react_placeholder").slideToggle(500);
});

</script>
