<link rel="stylesheet" type="text/css" href="/style/rollback-panel-style">
<div id="content_div">

  <%- include("../assets/guild_div.ejs", {guild:guild})%>

  <!-- Title -->
  <h1 class="content_title">Restaurer une sauvegarde de l'espace de travail de votre serveur</h1>

  <!-- Text -->
  <p class="content_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna purus, varius quis lectus et, ultrices hendrerit velit. Integer eu felis eu dui lacinia tempor at eleifend odio. Nunc id viverra massa. Quisque fringilla massa a luctus suscipit. Nulla eleifend tellus vitae odio efficitur, et fermentum leo lobortis. Sed pretium, elit non volutpat tristique, urna justo laoreet sapien, eu pretium massa dolor quis metus. Mauris eget fringilla urna, nec congue ex. Ut euismod sed sapien et maximus. Sed porttitor felis in tincidunt venenatis. Aenean in tellus ullamcorper, varius quam at, volutpat libero. Fusce sodales nunc eget ligula rutrum fermentum. Praesent vitae iaculis odio.</p>

  <div class="content_saves_div">
    <!-- A save which can be restored -->
    <div class="content_saves_div_saved_workspace">
      <p class="content_saves_div_saved_workspace_id">#4564</p><br>
      <p class="content_saves_div_saved_workspace_date">14/07/2022 à 14h25</p>
      <button class="content_saves_div_saved_workspace_restore">Restaurer</button>
    </div>

    <div class="content_saves_div_saved_workspace">
      <p class="content_saves_div_saved_workspace_id">#4564</p><br>
      <p class="content_saves_div_saved_workspace_date">14/07/2022 à 14h25</p>
      <button class="content_saves_div_saved_workspace_restore">Restaurer</button>
    </div>

    <div class="content_saves_div_saved_workspace">
      <p class="content_saves_div_saved_workspace_id">#4564</p><br>
      <p class="content_saves_div_saved_workspace_date">14/07/2022 à 14h25</p>
      <button class="content_saves_div_saved_workspace_restore">Restaurer</button>
    </div>
  </div>
</div>
