<link rel="stylesheet" type="text/css" href="/style/rollback-panel-style">
<div id="content_div">

  <%- include("../assets/guild_div.ejs", {guild:guild})%>

  <!-- Title -->
  <h1 class="content_title">Restaurer une sauvegarde de l'espace de travail de votre serveur</h1>

</div>
