<xml xmlns="https://developers.google.com/blockly/xml" id="toolbox" style="display: none">
  <category name="Logic" colour="#5b80a5">
    <block type="controls_if"></block>
    <block type="logic_compare">
      <field name="OP">EQ</field>
    </block>
    <block type="logic_operation">
      <field name="OP">AND</field>
    </block>
    <block type="logic_negate"></block>
    <block type="logic_boolean">
      <field name="BOOL">TRUE</field>
    </block>
    <block type="logic_null"></block>
    <block type="logic_ternary"></block>
  </category>
  <category name="Loops" colour="#5ba55b">
    <block type="controls_repeat_ext">
      <value name="TIMES">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="controls_whileUntil">
      <field name="MODE">WHILE</field>
    </block>
    <block type="controls_for">
      <field name="VAR" id="!%KE04o0o(mJ;78c1bZs">i</field>
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
      <value name="BY">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="controls_forEach">
      <field name="VAR" id="PemsS`Y_~lxKG*:}N406">j</field>
    </block>
    <block type="controls_flow_statements">
      <field name="FLOW">BREAK</field>
    </block>
  </category>
  <category name="Math" colour="#5b67a5">
    <block type="math_number">
      <field name="NUM">0</field>
    </block>
    <block type="math_arithmetic">
      <field name="OP">ADD</field>
      <value name="A">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="B">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
    </block>
    <block type="math_single">
      <field name="OP">ROOT</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">9</field>
        </shadow>
      </value>
    </block>
    <block type="math_trig">
      <field name="OP">SIN</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">45</field>
        </shadow>
      </value>
    </block>
    <block type="math_constant">
      <field name="CONSTANT">PI</field>
    </block>
    <block type="math_number_property">
      <mutation divisor_input="false"></mutation>
      <field name="PROPERTY">EVEN</field>
      <value name="NUMBER_TO_CHECK">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="math_round">
      <field name="OP">ROUND</field>
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">3.1</field>
        </shadow>
      </value>
    </block>
    <block type="math_on_list">
      <mutation op="SUM"></mutation>
      <field name="OP">SUM</field>
    </block>
    <block type="math_modulo">
      <value name="DIVIDEND">
        <shadow type="math_number">
          <field name="NUM">64</field>
        </shadow>
      </value>
      <value name="DIVISOR">
        <shadow type="math_number">
          <field name="NUM">10</field>
        </shadow>
      </value>
    </block>
    <block type="math_constrain">
      <value name="VALUE">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="LOW">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="HIGH">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_int">
      <value name="FROM">
        <shadow type="math_number">
          <field name="NUM">1</field>
        </shadow>
      </value>
      <value name="TO">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
    </block>
    <block type="math_random_float"></block>
  </category>
  <category name="Text" colour="#5ba58c">
    <block type="text">
      <field name="TEXT"></field>
    </block>
    <block type="text_join">
      <mutation items="2"></mutation>
    </block>
    <block type="text_append">
      <field name="VAR" id=")nW4ijRT9rG?[fW:8CyB">item</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_length">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_isEmpty">
      <value name="VALUE">
        <shadow type="text">
          <field name="TEXT"></field>
        </shadow>
      </value>
    </block>
    <block type="text_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="aTqqF*tmT-GHXQXRvl:n">text</field>
        </block>
      </value>
      <value name="FIND">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_charAt">
      <mutation at="true"></mutation>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="aTqqF*tmT-GHXQXRvl:n">text</field>
        </block>
      </value>
    </block>
    <block type="text_getSubstring">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="STRING">
        <block type="variables_get">
          <field name="VAR" id="aTqqF*tmT-GHXQXRvl:n">text</field>
        </block>
      </value>
    </block>
    <block type="text_changeCase">
      <field name="CASE">UPPERCASE</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_trim">
      <field name="MODE">BOTH</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_print">
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
    <block type="text_prompt_ext">
      <mutation type="TEXT"></mutation>
      <field name="TYPE">TEXT</field>
      <value name="TEXT">
        <shadow type="text">
          <field name="TEXT">abc</field>
        </shadow>
      </value>
    </block>
  </category>
  <category name="Lists" colour="#745ba5">
    <block type="lists_create_with">
      <mutation items="0"></mutation>
    </block>
    <block type="lists_create_with">
      <mutation items="3"></mutation>
    </block>
    <block type="lists_repeat">
      <value name="NUM">
        <shadow type="math_number">
          <field name="NUM">5</field>
        </shadow>
      </value>
    </block>
    <block type="lists_length"></block>
    <block type="lists_isEmpty"></block>
    <block type="lists_indexOf">
      <field name="END">FIRST</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="|f9f/6*an8_EY!*:Mq{D">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getIndex">
      <mutation statement="false" at="true"></mutation>
      <field name="MODE">GET</field>
      <field name="WHERE">FROM_START</field>
      <value name="VALUE">
        <block type="variables_get">
          <field name="VAR" id="|f9f/6*an8_EY!*:Mq{D">list</field>
        </block>
      </value>
    </block>
    <block type="lists_setIndex">
      <mutation at="true"></mutation>
      <field name="MODE">SET</field>
      <field name="WHERE">FROM_START</field>
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR" id="|f9f/6*an8_EY!*:Mq{D">list</field>
        </block>
      </value>
    </block>
    <block type="lists_getSublist">
      <mutation at1="true" at2="true"></mutation>
      <field name="WHERE1">FROM_START</field>
      <field name="WHERE2">FROM_START</field>
      <value name="LIST">
        <block type="variables_get">
          <field name="VAR" id="|f9f/6*an8_EY!*:Mq{D">list</field>
        </block>
      </value>
    </block>
    <block type="lists_split">
      <mutation mode="SPLIT"></mutation>
      <field name="MODE">SPLIT</field>
      <value name="DELIM">
        <shadow type="text">
          <field name="TEXT">,</field>
        </shadow>
      </value>
    </block>
    <block type="lists_sort">
      <field name="TYPE">NUMERIC</field>
      <field name="DIRECTION">1</field>
    </block>
  </category>
  <category name="Colour" colour="#a5745b">
    <block type="colour_picker">
      <field name="COLOUR">#ff0000</field>
    </block>
    <block type="colour_random"></block>
    <block type="colour_rgb">
      <value name="RED">
        <shadow type="math_number">
          <field name="NUM">100</field>
        </shadow>
      </value>
      <value name="GREEN">
        <shadow type="math_number">
          <field name="NUM">50</field>
        </shadow>
      </value>
      <value name="BLUE">
        <shadow type="math_number">
          <field name="NUM">0</field>
        </shadow>
      </value>
    </block>
    <block type="colour_blend">
      <value name="COLOUR1">
        <shadow type="colour_picker">
          <field name="COLOUR">#ff0000</field>
        </shadow>
      </value>
      <value name="COLOUR2">
        <shadow type="colour_picker">
          <field name="COLOUR">#3333ff</field>
        </shadow>
      </value>
      <value name="RATIO">
        <shadow type="math_number">
          <field name="NUM">0.5</field>
        </shadow>
      </value>
    </block>
  </category>
  <sep></sep>
  <category name="Variables" colour="#a55b80" custom="VARIABLE"></category>
  <category name="Functions" colour="#995ba5" custom="PROCEDURE"></category>
  <sep></sep>
  <category name="%{BKY_WORKSPACE_TAB_EVENTS}" colour="30">
    <label text="%{BKY_WORKSPACE_EVENTS_MESSAGE_SENT_DELETED}"></label>
      <block type="event_message_sent"></block>
      <block type="event_message_deleted"></block>
      <block type="event_var_message"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_MESSAGE_UPDATED}"></label>
      <block type="event_message_updated"></block>
      <block type="event_var_message_old"></block>
      <block type="event_var_message_new"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_USER_JOIN_LEAVE}"></label>
      <block type="event_user_join"></block>
      <block type="event_user_left"></block>
      <block type="event_var_user"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_USER_UPDATED}"></label>
      <block type="event_user_updated"></block>
      <block type="event_var_old_user"></block>
      <block type="event_var_new_user"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_TEXT_CHANNEL}"></label>
      <block type="event_text_channel_created"></block>
      <block type="event_text_channel_deleted"></block>
      <block type="event_var_text_channel"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_TEXT_CHANNEL_UPDATE}"></label>
      <block type="event_text_channel_edited"></block>
      <block type="event_var_old_text_channel"></block>
      <block type="event_var_new_text_channel"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_VOICE_CHANNEL}"></label>
      <block type="event_voice_channel_created"></block>
      <block type="event_voice_channel_deleted"></block>
      <block type="event_var_voice_channel"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_VOICE_CHANNEL_UPDATE}"></label>
      <block type="event_voice_channel_edited"></block>
      <block type="event_var_old_voice_channel"></block>
      <block type="event_var_new_voice_channel"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_RANK}"></label>
      <block type="event_role_created"></block>
      <block type="event_role_deleted"></block>
      <block type="event_var_rank"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_RANK_UPDATE}"></label>
      <block type="event_role_edited"></block>
      <block type="event_var_old_rank"></block>
      <block type="event_var_new_rank"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_BAN_UNBAN}"></label>
      <block type="event_user_banned"></block>
      <block type="event_user_unbanned"></block>
      <block type="event_var_user"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_REACTION}"></label>
      <block type="event_reaction_added"></block>
      <block type="event_reaction_removed"></block>
      <block type="event_var_message"></block>
      <block type="event_var_reaction"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_VOICE_UPDATE}"></label>
      <block type="event_user_voice_update"></block>
      <block type="event_var_old_voice_channel"></block>
      <block type="event_var_new_voice_channel"></block>
      <block type="event_var_user"></block>

    <label text="%{BKY_WORKSPACE_EVENTS_EXTRA}"></label>
      <block type="event_pinned_updated"></block>
      <block type="event_var_message"></block>
      <block type="event_user_start_writing"></block>
      <block type="event_var_user"></block>
      <block type="event_var_text_channel"></block>
  </category>
  <sep></sep>
  <category name="%{BKY_WORKSPACE_TAB_MESSAGES}" colour="180">
    <label text="%{BKY_WORKSPACE_MESSAGES_SEND}"></label>
      <block type="block_message_reply"></block>
      <block type="block_message_send"></block>
      <block type="block_message_send_with_file"></block>
      <block type="block_message_var_sent_message"></block>

    <label text="%{BKY_WORKSPACE_MESSAGES_DELETE}"></label>
      <block type="block_message_delete"></block>
      <block type="block_message_delete_bulk"></block>

    <label text="%{BKY_WORKSPACE_MESSAGES_CREATE_THREAD}"></label>
      <block type="block_message_start_thread"></block>

    <label text="%{BKY_WORKSPACE_MESSAGES_PINE}"></label>
      <block type="block_message_pine"></block>
      <block type="block_message_unpine"></block>

    <label text="%{BKY_WORKSPACE_MESSAGES_GET_DATA}"></label>
      <block type="block_message_get_text"></block>
      <block type="block_message_get_id"></block>
      <block type="block_message_get_autor"></block>
      <block type="block_message_get_channel"></block>

    <label text="%{BKY_WORKSPACE_MESSAGES_MENTIONS}"></label>
      <block type="block_message_does_mention_everyone"></block>
      <block type="block_message_does_mention_user"></block>
      <block type="block_message_get_user_mention"></block>
      <block type="block_message_get_channel_mention"></block>
      <block type="block_message_number_of_mentions_user"></block>
      <block type="block_message_number_of_mentions_channel"></block>

  </category>
  <category name="%{BKY_WORKSPACE_TAB_CHANNELS}" colour="75">
    <label text="%{BKY_WORKSPACE_CHANNELS_CREATE}"></label>
      <block type="block_channel_create_text_channel"></block>
      <block type="block_channel_var_text_channel"></block>
      <block type="block_channel_create_voice_channel"></block>
      <block type="block_channel_var_voice_channel"></block>
    <label text="%{BKY_WORKSPACE_CHANNELS_DELETE}"></label>
      <block type="block_channel_delete"></block>
    <label text="%{BKY_WORKSPACE_CHANNELS_EDIT}"></label>
      <block type="block_channel_renamme"></block>
      <block type="block_channel_set_permission"></block>
    <label text="%{BKY_WORKSPACE_CHANNELS_GET_CHANNEL}"></label>
      <block type="block_channel_get_channel_with_id"></block>
    <label text="%{BKY_WORKSPACE_CHANNELS_GET_DATA}"></label>
      <block type="block_channel_get_channel_name"></block>
      <block type="block_channel_get_channel_topic"></block>
      <block type="block_channel_get_channel_id"></block>
      <block type="block_channel_get_category_of_channel"></block>
      <block type="block_channel_get_permission"></block>
    <label text="%{BKY_WORKSPACE_EVENTS_EXTRA}"></label>
      <block type="block_channel_list"></block>
  </category>
  <category name="%{BKY_WORKSPACE_TAB_USERS}" colour="300">
    <label text="%{BKY_WORKSPACE_USERS_SEND_MESSAGE}"></label>
      <block type="block_user_send_private_message"></block>
    <label text="%{BKY_WORKSPACE_USERS_MODERATE}"></label>
      <block type="block_user_kick"></block>
      <block type="block_user_ban"></block>
      <block type="block_user_unban"></block>
      <block type="block_user_timeout"></block>
      <block type="block_user_custom_timeout"></block>
      <block type="block_user_remove_timeout"></block>
      <block type="block_user_mute"></block>
      <block type="block_user_unmute"></block>
      <block type="block_user_deaf"></block>
      <block type="block_user_undeaf"></block>
    <label text="%{BKY_WORKSPACE_USERS_CHECK_PERMISSIONS}"></label>
      <block type="block_user_has_permission"></block>
      <block type="block_user_has_rank"></block>
    <label text="%{BKY_WORKSPACE_USERS_GET_DATA}"></label>
      <block type="block_user_get_with_id"></block>
      <block type="block_user_get_username"></block>
      <block type="block_user_get_server_username"></block>
      <block type="block_user_get_tag"></block>
      <block type="block_user_get_id"></block>
      <block type="block_user_get_picture"></block>
      <block type="block_user_is_bot"></block>
      <block type="block_user_is_timeout"></block>
  </category>
  <category name="%{BKY_WORKSPACE_TAB_GUILD}" colour="270">
    <label text="%{BKY_WORKSPACE_GUILD_INVITE}"></label>
      <block type="block_guild_create_invite"></block>
    <label text="%{BKY_WORKSPACE_GUILD_GET_DATA}"></label>
      <block type="block_guild_get_id"></block>
      <block type="block_guild_get_name"></block>
      <block type="block_guild_get_boosts_count"></block>
      <block type="block_guild_get_members_count"></block>
  </category>
  <category name="%{BKY_WORKSPACE_TAB_RANKS}" colour="0">
    <label text="%{BKY_WORKSPACE_RANKS_CREATE}"></label>
      <block type="block_rank_create">
        <value name="position">
          <shadow type="math_number">
            <field name="NUM">1</field>
          </shadow>
        </value>
      </block>
      <block type="block_rank_created_rank"></block>
    <label text="%{BKY_WORKSPACE_RANKS_DELETE}"></label>
      <block type="block_rank_delete"></block>
    <label text="%{BKY_WORKSPACE_RANKS_GET_DATA}"></label>
      <block type="block_rank_get_rank_with_id"></block>
      <block type="block_rank_get_name"></block>
      <block type="block_rank_get_position"></block>
      <block type="block_rank_get_color"></block>
      <block type="block_rank_get_id"></block>
      <block type="block_rank_has_permission"></block>
    <label text="%{BKY_WORKSPACE_RANKS_EDIT}"></label>
      <block type="block_rank_edit_name"></block>
      <block type="block_rank_edit_color"></block>
      <block type="block_rank_edit_pingeable"></block>
      <block type="block_rank_edit_members_shown"></block>
      <block type="block_rank_edit_position"></block>
      <block type="block_rank_edit_permissions"></block>
  </category>
</xml>
