/* Style for index */

/* ##### first_area_div ##### */
#first_area_div{
  width: 100%;
  height: 90vh;
  background: url('../img/main.png') no-repeat;
  background-size: 100%;
  position: relative;
  border: 4px red;
}

#first_area_div_main_img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

#first_area_nav{
  z-index: 2;
  margin: 0px;
  margin-left: 10%;
}

#first_area_nav ul{
  position: absolute;
  top: 20px;
  margin-top: 0px;
}

#first_area_nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  font-size: 1.5em;
}

#first_area_div_panel_button, #first_area_div_text button{
  padding: 6px 40px;
  border-radius: 16px;
  border: solid 1px black;
  position: absolute;
  right: 50px;
  top: 20px;
  background-color: #2E86AB;
  color:white;
  font-size: 1.5em;
  cursor: pointer;
  animation-duration: 0.5s;
  animation-name: button_not_hover;
}

#first_area_div_panel_button:hover, #first_area_div_text button:hover{
  animation-duration: 0.5s;
  animation-name: button_hover;
}

#first_area_div_text{
  position: absolute;
  top: 25%;
  left: 5%;
  max-width: 25%;
  text-align: center;
}

#first_area_div_text h1{
  line-height: 100%;
  font-size: 2em;
}

#first_area_div_text p{
  font-size: 1.5em;
  line-height: 100%;
}

#first_area_div_text button{
  top:0px;left:0px;
  position: static;
}

/*#first_area_div_wave{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top:95%;
  border: dotted 6px green;
}


/* ##### content_line_div ##### */
.content_line_div{
    width: 100%;
    height: 120px;
    background-color: #1C232A;
    position: relative;
    overflow: hidden;
}

.content_line_div_text{
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:20%;
  margin-left: 20%;
}

.content_line_div_text p{
  color: white;
  font-size: 1.5em;

}

.content_line_div_media{
  position: absolute;
  top:50%;
  right: 0px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 80%;
  margin-right: 20%;
  width: 40%;
  border: dotted 2px red;
}

#first_content_line_div{
  margin-top: 100px;
}

/* ##### why disblock area ##### */
#why_disblock_div{
  border: dotted 2px red;
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

#why_disblock_div h2{
  color: white;
  text-align: center;
  font-size: 1.5em;
}

.why_disblock_content_div{ /* A sub-section of the big Why section */
  width: 100%;
  min-height: 40vh;
  margin-top: 20vh;
  position: relative;
  border: dotted 3px green;
}

.why_disblock_content_div div{/* Sub-div, parents of img/text sections */
  height: 100%;
  border: dotted 2px orange;
  display: inline-block;
  position: absolute;
}

.why_disblock_content_div div *{/* Contents in div, img and text sections */
  position: absolute;
  top:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width:100%;
  text-align: center;
  color:white;
}

.why_disblock_content_div_left{
  left:0px;
}
.why_disblock_content_div_right{
  right:0px;
}
.why_disblock_content_div_img{
  width:50%;
}
.why_disblock_content_div_text{
  width: 40%;
}


/* Keyframes */
@keyframes button_hover {
  from {
    background-color: #2E86AB;
  }

  to {
    background-color: #3EA1CC;
  }
}

@keyframes button_not_hover {
  from {
    background-color: #3EA1CC;
  }

  to {
    background-color: #2E86AB;
  }
}
