<style>
  #content_div_top_div{
    width: 100%;
    height: 40px;
    background-color: #141C24;
    border-top: solid 3px #2E86AB;
    position: relative;
  }

  #content_div_top_div_guild_div{
    position: absolute;
    top: 5px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
  }

  #content_div_top_div_guild_div img{
    margin-top: 5px;
    /* Size defined on <img> tag */
  }

  #content_div_top_div_guild_div h3{
    color: #EAEAEA;
    font-size: 1em;/* img size, defined in <img> */
    margin-left: 5px;
    margin-right: 5px;
  }
</style>

<div id="content_div_top_div">
  <div id="content_div_top_div_guild_div">
    <%
    if(guild.icon!=undefined && guild.icon!=''){
      %><img width="24px" height="24px" style="border-radius: 50%;" src="https://cdn.discordapp.com/icons/<%- guild.id %>/<%- guild.icon %>.png?size=64" alt="Server icon"><%
    }else{
      %><img width="24px" height="24px" style="border-radius: 50%;" src="/img/profile.svg" alt="Server icon"><%
    }
    %>
    <h3><%= guild.name %></h3>
    <% if(premium){ %> <img width="24px" height="24px" src="/img/star.svg" alt="Premium"> <%}%>
  </div>
</div>
